
.input-wrapper {
    display: flex;
}

.model-input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 1px solid #00000038;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #ffffff;
    font-family: 'Roboto';
}
.model-input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    color: #8080809c;
}
.model-input:focus 
    {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.253);
        outline: none;
}

label {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.418);
}

.input-field {
    margin-top: 15px;
}