button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-produto {
    width: 100%;
    padding: 10px 0;
    border-radius: 15px;
    border: none;
    color: rgb(0, 255, 234);
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.add-produto:hover {
    /* Cor de fundo ao passar o mouse */
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    background-color: #00f7e3c5;
    
}
